@use "sass:map";
@import '../app.component.scss';
.banner {
    height: map.get($banner, "height");
    background-color: $bg-banner;
    position: absolute;
    top: 0;
    left: 0;
    width: map.get($banner, "width");
    display: flex;
    flex-direction: row;
    align-items: center;
}