@import '../app.component.scss';
.zik-lector {
    height: calc(100vmin - #{$hauteur_titre});
    top: $hauteur_titre;
    left: 0;
    position: absolute;
    // border-right: 1px solid black;
    width: $largeur-lector;
    margin-top: 0;
    margin-left: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

.lector-titre {
    text-align: center;
    position: fixed;
    align-items: center;
    justify-content: center;
    // align-self: center;
    border-radius: 0 0 25px 0;
    display: flex;
    vertical-align: middle;
    width: calc(#{$largeur-lector} * 95 / 100);
    height: $hauteur_titre;
    background-color: red;
    margin-top: 0;
    margin-left: 0;
    z-index: 2;
}

#lector {
    margin-top: $hauteur_titre !important;
    z-index: 1;
}