@use "sass:map";
@import '../app.component.scss';
.zik-lector {
    top: map.get($banner, "height");
    left: 0;
    position: absolute;
    @include dim(map.get($lector, "width"), calc(100vmin - #{map.get($banner, "height")}));
    margin-top: 0;
    margin-left: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: $bg-lector;
}

.lector-titre {
    text-align: center;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 25px 0;
    display: flex;
    vertical-align: middle;
    @include dim(calc(#{map.get($lector, "width")} * 95 / 100), map.get($lector, "hauteur-titre"));
    background-color: $bg-titre;
    margin-top: 0;
    margin-left: 0;
    z-index: 2;
}

#lector {
    margin-top: map.get($banner, "height") !important;
    z-index: 1;
}